<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAO_REST_API_KEY</key>
	<string>5868d0b42272cb8e5484440ce44196cb</string>
	<key>TMDB_ACCESS_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwNDI5MjFkNTEyMzZmZmY4ZDljYTA0YTU0Y2Q1NTc0OCIsIm5iZiI6MTc1OTI4MzQ3MS4xOTgwMDAyLCJzdWIiOiI2OGRjODkwZjkyYjZiM2Y5YmViYjFhYzgiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.L4j-uPgNgWKRijGNflDSA89b0f1RffEi2_CmxVEL_X8</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
